#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.info-container {
  background-image: url("https://res.cloudinary.com/djhkjquz0/image/upload/v1762337282/grassy-field-with-leafless-trees-distance-cloudy-sky-background_181624-4535_m0gdhq.avif");
  background-size: cover;
  background-position: center;
  opacity: 1;
  border-radius: 2rem;
  padding: 2rem;
  height: auto;
  max-height: 1100px;
}

.main-heading {
  color: #031d49;
  font-family: Roboto;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

button {
  color: rgb(4, 4, 75);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #f5eeee;
}

.report-container {
  margin-top: 2rem;
  background-color: #dbd8d8;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(4, 4, 75);
  font-size: 1.4rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
